APP_NAME=
APP_ENV=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
FARMA_CENTRAL_BASE_URL=
FARMA_CENTRAL_API_SECRET=
FARMA_CENTRAL_FTP=
FARMA_CENTRAL_GROUP=3
FARMA_CENTRAL_TIMEOUT_SECONDS=10
MARKET_PRICE_CACHE_TTL_SECONDS=30
MARKET_PRICE_MAX_RETRY_WAIT_SECONDS=2
CHECKOUT_BASE_URL=https://dev.proyecto.2026-2.tallerdeintegracion.cl/
APP_PUBLIC_URL=http://127.0.0.1:8000/
# FRONTEND_PUBLIC_URL=http://127.0.0.1:3000/
CORS_ORIGINS=
