[Unit]
Description=Run Farmacentral inventory synchronization periodically

[Timer]
OnActiveSec=30s
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=farmacentral-inventory-sync.service

[Install]
WantedBy=timers.target
